<div class="card shadow-sm">
  <img class="bd-placeholder-img card-img-top" src='{{ "assets/images/" + book.img + ".jpg" }}'>

  <div class="card-body">
    <h4 class="title">{{ book.title }}</h4>
    <div class="span">
      <span class="autor">{{ book.author }}</span>
      <span class="editora">{{ book.publisher }}</span>
    </div>


    <div class="d-flex justify-content-between align-items-center">
      <p class="card-text">{{book.price | currency:'BRL'}}</p>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary">Comprar</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Detalhes</button>
      </div>
    </div>
  </div>
</div>
